@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --w: #FFFFFF;
    --c1: #F7F7F7;
    --C2: #EDEDED;
    --C3: #DEDEDE;
    --C4: #CCCCCC;
    --C5: #B2B2B2;
    --C6: #9C9C9C;
    --c7: #717171;
    --c8: #595959;
    --c9: #404040;
    --c10: #2E2E2E;
    --c11: #111111;
    --c12: #000000;
    --p1: #E4A30B;
    --p2: #FFBB00;
    --p3: #A66F00;
    --p4: #664400;
    --p5: #332200;
    --font-1-xxl: 600 64px/72px Poppins;
    --font-1-xl: 600 32px/10px Poppins;
    --font-1-l: 400 24px/36px Poppins;
    --font-2-l: 400 24px/36px Roboto;
    --font-2-l-b: uppercase 500 24px/36px Roboto;
    --font-1-m: 400 18px/24px Poppins;
    --font-1-m-b: 600 18px/24px Poppins;
    --font-2-m: 500 18px/24px Roboto;
    --font-1-s: 400 16px/24px Poppins;
    --font-2-xs: 400 14px/20px Roboto;
    --font-1-xs: 600 12px/16px Poppins;
}

.header {
    background-color: var(--c12);
}

.header a {
    color: var(--w);
    text-decoration: none;
}

.header-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    gap: 20px;
    padding: 20px;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu a {
    padding: 16px 0px;
    display: inline-block;
    font-size: 18px;
    position: relative;
}

.header-menu a::after {
    content: "";
    background-color: var(--w);
    width: 0px;
    height: 2px;
    display: block;
    position: absolute;
    margin-top: 4px;
    transition: 0.3s;
}

.header-menu a:hover::after {
    width: 100%;
}

@media (max-width: 800px) {
    .header-menu {
        gap: 20px;
    }
    .header-menu a {
        background-color: var(--c11);
        border-radius: 4px;
        padding: 12px 16px;
    }
    .header-menu a:hover {
        background-color: var(--c10);
    }
    .header-menu a:after {
        display: none;
    }
}

@media (max-width: 600px) {
    .header-menu {
        gap: 12px;
    }
    .header-menu a {
        font-size: 14px;
        padding: 8px 12px;
    }
}