@import "./css/global.css";

.introducao-bg {
    background-color: var(--c12);
}

.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--w);
    gap: 0px 40px;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0px 20px;
    margin: auto;
}

.introducao-conteudo {
    align-self: end;
    padding-bottom: 80px;
}

.introducao-conteudo h1 {
    font-size: 64px;
    line-height: 1.125;
    margin-bottom: 32px;
}

.introducao-conteudo p {
    margin-bottom: 20px;
    color: var(--c5);
    font-size: 24px;
    line-height: 1.5;
}

.introducao-conteudo a {
    display: inline-block;
    padding: 16px 32px;
    text-transform: uppercase;
    background: var(--gradient-1);
    color: var(--p5);
    font: var(--font-1-m-b);
    border-radius: 4px;
}

.introducao-conteudo a:hover {
    background: var(--gradient-2);
}