:root {
    --font-1-xxl: 600 4rem/1.125em Poppins;
    --font-1-xl: 600 2rem/0.312em Poppins;
    --font-1-l: 400 1.5rem/1.5em Poppins;
    --font-2-l: 400 1.5rem/1.5em Roboto;
    --font-2-l-b: uppercase 500 1.5rem/1.5em Roboto;
    --font-1-m: 400 1.125rem/1.333em Poppins;
    --font-1-m-b: 600 1.125rem/1.333em Poppins;
    --font-1-m-c: 400 1.125rem/1.777em Poppins;
    --font-2-m: 500 1.125rem/1.333em Roboto;
    --font-1-s: 400 1rem/1.5em Poppins;
    --font-2-xs: 400 0.875rem/1.428em Roboto;
    --font-1-xs: 600 0.75rem/1.333em Poppins;
}