.depoimento {
    background-color: var(--cor-p1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    align-items: end;
}

.depoimento img {
    border-radius: 0px;
}

.depoimento p {
    font-family: "Merriweather", serif;
    margin-bottom: 32px;
    position: relative;
    max-width: 32ch;
    font-weight: 900;
    font-style: italic;
}

.depoimento-conteudo {
    padding: 40px 40px 80px 80px;
}

.depoimento p::after, .depoimento p::before {
    position: absolute;
    font-size: 5rem;
    color: var(--cor-p2);
}

.depoimento p::before {
    content: "“";
    left: -50px;
    top: -20px;
}

.depoimento p::after {
    content: "”";
}