.introducao-bg {
    background-color: var(--c12);
    color: var(--w);
    box-shadow: inset 0px -120px var(--w);
}

.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0px 20px;
    margin: auto;
}

.introducao-conteudo {
    align-self: end;
    padding-bottom: 200px;
}

.introducao-conteudo h1 {
    font: var(--font-1-xxl);
    margin-bottom: 32px;
}

.introducao-conteudo span {
    color: var(--p1);
}

.introducao-conteudo p {
    margin-bottom: 20px;
    color: var(--c5);
    font: var(--font-2-l);
}

.introducao-imagem img {
    height: 100%;
    object-fit: cover;
}