.parceiros {
    padding-top: 60px;
    padding-bottom: 120px;
}

.parceiros h2 {
    margin-bottom: 60px;
}

.parceiros ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.parceiros li {
    display: flex;
    padding: 32px;
    border: 2px solid var(--cor-2);
}

.parceiros img {
    margin: auto;
}